<div class="rightbox-small">
        <div class="search-box mdc-card animated fadeInDown delay-0.7s">
            <form action="{% url 'games:cats' master.id %}" method="post">
              {% csrf_token %}
              <h1 style="margin:auto">Cat Filter</h1>
              <div class="mdc-text-field">
                    <input type="text" id="my-text-field" class="mdc-text-field__input" type="text" placeholder="catname" name="catname" method="post">
                    <label class="mdc-floating-label" for="my-text-field">Hint text</label>
                    <div class="mdc-line-ripple"></div>
                  </div>
              <div class="mdc-select">
                  <i class="mdc-select__dropdown-icon"></i>
                  <select class="mdc-select__native-control" id="sexselect" name="catsex">
                    <option value="All">All</option>
                    <option value="male">Male Cat</option>
                    <option value="female">Female Cat</option>
                  </select>
                  <label class="mdc-floating-label">Sex</label>
                  <div class="mdc-line-ripple"></div>
              </div><br>

              <div class="mdc-select">
                  <i class="mdc-select__dropdown-icon"></i>
                  <select class="mdc-select__native-control" id="healthselect" name="cathealth">
                    <option value="All">All</option>
                    <option value="h">Healthy</option>
                    <option value="c">Cough</option>
                    <option value="p">Pregnant</option>
                    <option value="t">Thirsty</option>
                  </select>
                  <label class="mdc-floating-label">Sex</label>
                  <div class="mdc-line-ripple"></div>
              </div><br>
              
              <p class="form"><input type="text" placeholder="catage" name="catage" method="post"></p> 
                
              <input type="submit" value="Go!" class="btn">
            </form>
        </div>
    </div>
    <div class="leftbox-large">
        
    </div>