{% extends "template.html" %}
{% load static %}
{% block content %}
<style>
        .labelstyle{
        display: inline-block;
        margin-top:3px;
        margin-bottom:3px;
        margin-left:3px;
        margin-right:3px;
      }
</style>
<div class="leftbox-large">
    <div class="animated bounceInDown" style="height:150px;width: 500px;margin-top: 40px;margin-left: 10%">
            <div style="font-size:30px;height: 30px;margin: auto">^_^ {{master.name}}!</div><br>
            <div style="font-size:50px;margin:auto"> For lOvely Angel</div>
    </div>
    {% if cat_list %}
    <div class="mdc-layout-grid  animated bounceInUp">
        <div class="mdc-layout-grid__inner">
            {% for cat in cat_list %}
            <div class="mdc-layout-grid__cell--span-3 mdc-card shake-slow shake-freeze shake-freeze--hover" style="width:100%;">
                <div  class="mdc-card__media mdc-card__media--16-9"style="background-image: url(../../../../media/{{ cat.picture }});">
                    <div style="background-color:salmon;margin-bottom:0px; opacity: 0.5;height:100%">
                        <h2 style="margin-left: 6px;margin-bottom: 6px;color: honeydew">{{cat.name}}  {{cat.sex}} 
                          
                        </h2>
                    </div>
                </div>
                {% ifequal cat.sex '♂' %}
                <div style="background: #e5ffff">
                {% endifequal %}
                
                {% ifequal cat.sex '♀' %}
                <div style="background: #ffffcf">
                {% endifequal %}
                    <div  style="margin-left:6px;margin-bottom:6px;margin-top: 6px">                         
                        {% if cat.master %}
                            {% ifequal cat.master.name 'Admin' %}
                            Master:  Wild yet!
                            {% else %}
                                Master:  {{cat.master.name}}
                            {% endifequal %}
                        {% else %}
                        Master:  Wild yet!
                        {% endif %}  
                        {% ifequal cat.hunger 'p' %}
                        <h6 class="labelstyle">
                            Pretty Hungry Now!
                        </h6>
                        {% endifequal %}
                        {% ifequal cat.hunger 's' %}
                        <h6 class="labelstyle">
                            Starving to Death!
                        </h6>
                        {% endifequal %}
                        {% ifequal cat.hunger 'h' %}
                        <h6 class="labelstyle">
                            A little hungry
                        </h6>
                        {% endifequal %}
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>
    {% else %}
        <h3 style="margin-left: 90px;font-size: 35px;color: crimson">OOOOPS! <br> It seems that no cat is here; <br> Or no cat matches your request!</h3>
    {% endif %}
</div>
<div class="rightbox-small">
    <div class="search-box-contain" style="position: fixed;right: 15px;left:80%">
        <div class="search-box mdc-card animated bounceInRight">             
            <form action="{% url 'games:cats' master.id %}" method="post">
                {% csrf_token %}
                <h1 class="filter">Cat Filter</h1>
                <div class="filter">
                    <input type="text" id="my-text-field" type="text" placeholder="catname" name="catname" method="post">
                </div> 
                <!--<div class="filter">
                    <input type="text" id="my-text-field" type="text" placeholder="catage" name="catage" method="post">
                </div> <br>-->
                <div class="filter">
                    <label>Master</label>
                    <select id="catmaster" name="catmaster">
                        <option value="All">All</option>
                        {% if master_list %}
                        {% for master in master_list %}
                            {% ifequal master.name 'Admin' %}
                            {% else %}
                            <option value={{ master.name }}>{{ master.name }}</option>
                            {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </select>
                </div><br>
                <div class="filter">
                    <label>Sex</label>
                    <select id="sexselect" name="catsex">
                        <option value="All">All</option>
                        <option value="♂">Male</option>
                        <option value="♀">Female</option>
                    </select>
                </div><br>  
                <div class="filter">
                    <label>Status</label>
                    <select id="healthselect" name="cathealth">
                        <option value="All">All</option>
                        <option value="s">Starving</option>
                        <option value="p">Pretty Hungry</option>
                        <option value="h">Hungry</option>
                    </select>
                </div><br>
                <input type="submit" class="btn submit_button button is-secondary" value="Go!">
            </form>
        </div>
        <div class="search-box mdc-card animated bounceInRight">             
            <table class="filter" style="width:80%">
                <thead>
                    <tr>
                        <th>Your Food</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% if master_store %}
                    {% for food in master_store %}
                    <tr>
                      <td>{{food.food.name}}</td>
                      <td>{{food.num}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>...</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}}