{% extends "template.html" %}
{% load static %}
{% block content %}
<div>
    <div class="rightbox-small">
    <div class="mdc-card animated bounceIn delay-0.7s" style="background-color: #faf9f9;height:800px; width: auto; margin-top: 30px; margin-left: 0px; margin-right: 20px">
        <div class="mdc-card__primary-action">
          <div class="mdc-card__media mdc-card__media--square">
            <div class="mdc-card__media-content" style="margin-top:40px;margin-left: 30px;">
                
            </div>
          </div>      
        </div>
    </div>
    <div class="leftbox-large">

    </div>
</div>
{% endblock %}}