<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}">
    </head>
    <style> 
        div{    
            /* border:1px solid red;为了显示居中效果明显为 div 设置了边框         */
            width:200px;/*定宽*/    
            margin:20px auto;/* margin-left 与 margin-right 设置为 auto */ 
        } 
    </style>
    <body>
        <div class="mdc-card my-card">
            {% if cat_list %}
            <ul class="mdc-list">
            {% for cat in cat_list %}
            <li class="mdc-list-item">{{ cat.name }}</li>
            {% endfor %}
            <ul class="mdc-list">
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
        <div>
            Your Name:<br>
            {{master.name}}<br>
            Your money:<br>
            {{master.money}}<br>
            Your sex:<br>
            {{master.sex}}<br>
        </div>
        <a href="/games/{{ master.id }}/">Back</a>
        <a href="/games/{{ master.id }}/cats/" style="font-family: serif">cats</a>
        <a href="/games/{{ master.id }}/parks/" style="font-family: serif">parks</a>
        <a href="/games/{{ master.id }}/sites/" style="font-family: serif">sites</a>
        <a href="/games/{{ master.id }}/markets/" style="font-family: serif">markets</a>
    </body>
</html>