<div class="rightbox-small">
        <div class="search-box mdc-card animated fadeInDown delay-0.7s">
            <form action="{% url 'games:cats' master.id %}" method="post">
              {% csrf_token %}
              <h1 style="margin:auto">Food Filter</h1>
              <p class="form"><input type="text" placeholder="catname" name="top" method="post"></p> 
              <p class="form"><input type="text" placeholder="catage" name="bottom" method="post"></p> 
              <input type="submit" value="Go!" class="btn">
            </form>
        </div>
    </div>
<div class="leftbox-large">
        
</div>