{% extends "template.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function submitfun(act) {
        myForm.action.value = act;
        myForm.submit();
    }
</script>
<style>
    .labelstyle{
        display: inline-block;
        margin-top:3px;
        margin-bottom:3px;
        margin-left:3px;
        margin-right:3px;
    }
</style>
<div class="leftbox-large">
    <div class="animated fadeIn delay-0.7s" style="height:150px;width: 500px;margin-top: 40px;margin-left: 10%">
            <div style="font-size:30px;height: 30px;margin: auto">^_^ {{master.name}}!</div><br>
            <div style="font-size:50px;margin:auto"> 看看我们有哪些好吃的</div>
    </div>
    <div class="mdc-layout-grid ">
        <div class="mdc-layout-grid__inner">
        {% if market_food %}
        {% csrf_token %}
        {% for sell in market_food %}
            <div class="mdc-layout-grid__cell--span-3 mdc-card animated bounceIn delay-0.7s" style="width:100%;">
                <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(../../../../media/{{ sell.food.picture }});"></div>
                <div  style="margin-left:6px;margin-bottom:6px">
                    <div><div class="labelstyle"><button class="label is-focus">Name</button></div> <div style="display: inline-block">{{ sell.food.name }}</div></div>
                    <div><div class="labelstyle"><button class="label is-focus">Price</button></div> <div style="display: inline-block">{{ sell.price }}</div></div>
                    <div><div class="labelstyle"><button class="label is-focus">Num</button></div> <div style="display: inline-block">{{ sell.num }}</div></div>
                </div>
                <input type="hidden" name="food" value={{ sell.food.id }}>
                <input type="number" placeholder="please choose what we can offer" name="num" min="0"><br>
                <form name="myForm" action="{% url 'games:market_detail' master.id market.id %}" method="post">
                    <input type = "hidden" name = "action" value = "edit">
                    <div class="mdc-card__actions">
                        <button class="mdc-button mdc-card__action mdc-card__action--button" name="buy" value="buy" onclick="submitfun('buy')">
                                <span class="mdc-button__label">Buy</span>
                            </button>
                        <button class="mdc-button mdc-card__action mdc-card__action--button" name = "sell" value = "sell" onclick = "submitfun('sell')">
                            <span class="mdc-button__label">Sell</span>
                        </button>
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
    {% if msg %}
    {{ msg }}
    {% endif %}
    <ul>
    {% else %}
        <div class="mdc-layout-grid__cell mdc-card mdc-layout-grid__cell--align-center animated bounceIn delay-0.7s" style="width:100%;height:175px">
            <p>Ahhhhhhhh! PLEASE CHECK YOUR INPUT!!!</p>
        </div>
    {% endif %}
    </div>
    </div>

</div>
<div class="rightbox-small">
    <div class="search-box mdc-card animated bounceIn delay-0.7s">
        <form action="{% url 'games:cats' master.id %}" method="post">

          {% csrf_token %}
          <h1 class="filter">Cat Filter</h1>
          <div class="filter">
              <input type="text" id="my-text-field" type="text" placeholder="catname" name="catname" method="post">
            </div>
          <div class="filter">
              <input type="text" id="my-text-field" type="text" placeholder="catage" name="catage" method="post">
          </div> <br>
          <div class="filter">
              <label>Sex</label>
              <select id="sexselect" name="catsex">
                <option value="All">All</option>
                <option value="male">Male Cat</option>
                <option value="female">Female Cat</option>
              </select>
          </div><br>

          <div class="filter">
              <label>Health</label>
              <select id="healthselect" name="cathealth">
                <option value="All">All</option>
                <option value="h">Healthy</option>
                <option value="c">Cough</option>
                <option value="p">Pregnant</option>
                <option value="t">Thirsty</option>
              </select>
            </div><br>

            <input type="submit" class="btn submit_button button is-secondary" value="Go!">
        </form>
    </div>
    <div class="search-box mdc-card animated bounceIn delay-0.7s">
            <table class="filter" style="width:80%">
                <thead>
                    <tr>
                        <th>Your Food</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% if food_list %}
                    {% for food in food_list %}
                    <tr>
                      <td>{{food.food.name}}</td>
                      <td>{{food.num}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>...</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
</div>
<a href="/games/{{ master.id }}/markets">Back</a>
{% endblock %}