{% extends "template.html" %}
{% load static %}
{% block content %}

<!-- <div class="leftbox-large"> -->
    <div class="animated bounceInDown" style="height:150px;width: 700px;margin-top: 40px;margin-left: 10%">
        <div style="font-size:30px;height: 30px;margin: auto">^_^ {{master.name}}!</div><br>
        <div style="font-size:30px;margin:auto"> Meet your pet cat </div>
        <div style="font-size:20px;margin:auto"> (Sh! The lovely are here) </div>
    </div>
    <div class="mdc-layout-grid" style="width:100%;">
        <div class="mdc-layout-grid__inner">
            {% if park_list %}
            {% for park in park_list %}
            <a href="/games/{{ master.id }}/parks/{{ park.id }}/" class="mdc-layout-grid__cell--span-4 mdc-card animated bounceInUp">
                <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(../../../media/{{ park.picture }});"></div>
                <div  style="margin-left:6px;margin-bottom:6px">
                    <h2 class="demo-card__title mdc-typography mdc-typography--headline6">{{ park.name }}</h2>
                </div>
            </a>
            {% endfor %}
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>
<!-- </div> -->
{% endblock %}