{% extends "template.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function change(obj) {
        var value = $(obj).find('option:selected').text()
        $('#datashow').val(value)
    }
</script>
<div>
    {% if park_cat %}
    <ul>
    {% for parkcat in park_cat %}
    <li><a href="">{{ cat.name }}</a> {{ cat.breed }}{{ cat.health }}</li>
    <form action="% url 'games:feed' {{master.id}} {{ park.id }} %}" method="post">
        {% csrf_token %}
        {% if store %}
        <ul>
        <select onchange="change(this)">
            {% for mystore in store %}
                <option>{{ mystore.food }}</option>
            {% endfor %}
            <input id="datashow" style="width:128px;height: 26px;margin-left: -150px;border:none;" type="text" value>
        </select>
        <input type="submit">
        {% endif %}
    </form>
    {% endfor %}
    <ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
<br>
<br>
<a href="/games/{{ master.id }}/">Back</a>
{% endblock %}