{% extends "template.html" %}
{% load static %}
{% block content %}
<style>
      .labelstyle{
      display: inline-block;
      margin-top:3px;
      margin-bottom:3px;
      margin-left:3px;
      margin-right:3px;
    }
</style>
<script>
    function change(obj) {
        $(obj).parents('form').submit();
    }
</script>
    <div class="leftbox-large">
        <div class="animated fadeIn delay-0.7s" style="height:150px;width: 500px;margin-top: 40px;margin-left: 10%">
            <div style="font-size:30px;height: 30px;margin: auto">^_^ {{master.name}}!</div><br>
            <div style="font-size:45px;margin:auto">哇！{{park.name}}有好多猫！</div><br>
        </div>
        <div class="mdc-layout-grid ">
            <div class="mdc-layout-grid__inner">
                {% if cat_list %}
                {% for parkcat in cat_list %}
                <div class="mdc-layout-grid__cell--span-3 mdc-card animated bounceIn delay-0.7s" style="width:100%;">
                    <div  class="mdc-card__media mdc-card__media--square" >

                    </div>
                    <div  style="margin-left:6px;margin-bottom:6px">
                        <h3 class="labelstyle">{{parkcat.cat.name}}</h3>
                        <div>
                            <div class="labelstyle"><button class="label is-warning">Gender</button></div> 
                            <div style="display:inline-block">
                                {{parkcat.cat.sex}}
                            </div>
                        </div>

                        <form id="myForm" action="{% url 'games:park_detail' master.id park.id %}" method="post">
                        {% csrf_token %}
                        {% if master_store %}
                        <div >
                            <select onchange="change(this)" type="text" name="food" class="feedselect">
                            <option value={{mystore.food}}>I like this cat!</option>
                            {% for mystore in master_store %}
                            <option value={{ mystore.food }}>{{ mystore.food }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" name="cat" value='{{parkcat.cat.id}}'  style="display: inline-block">
                        {% endif %}
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="mdc-layout-grid__cell mdc-card mdc-layout-grid__cell--align-center animated bounceIn delay-0.7s" style="width:100%;height:175px">
                    <p>Ahhhhhhhh! PLEASE CHECK YOUR INPUT!!!</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="rightbox-small">
        <div class="search-box-contain" style="position: fixed;right: 0px;left:80%">
            <div class="search-box mdc-card animated bounceIn delay-0.7s">             
                <form action="{% url 'games:park_detail' master.id  park.id%}" method="post">
                
                  {% csrf_token %}
                  <h1 class="filter">Cat Filter</h1>
                  <div class="filter">
                      <input type="text" id="my-text-field" type="text" placeholder="catname" name="catname" method="post">
                    </div> 
                  <div class="filter">
                      <input type="text" id="my-text-field" type="text" placeholder="catage" name="catage" method="post">
                  </div> <br>
                  <div class="filter">
                      <label>Sex</label>
                      <select id="sexselect" name="catsex">
                        <option value="All">All</option>
                        <option value="♂">Male</option>
                        <option value="♀">Female</option>
                      </select>
                  </div><br>
              
                  <div class="filter">
                      <label>Status</label>
                      <select id="healthselect" name="cathealth">
                        <option value="All">All</option>
                        <option value="s">Starving</option>
                        <option value="p">Pretty Hungry</option>
                        <option value="h">Hungry</option>
                      </select>
                    </div><br>
                
                    <input type="submit" class="btn submit_button button is-secondary" value="Go!">
                </form>
            </div>
            <div class="search-box mdc-card animated bounceIn delay-0.7s">             
                <table class="filter" style="width:80%">
                    <thead>
                        <tr>
                            <th>Your Food</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if master_store %}
                        {% for food in master_store %}
                        <tr>
                          <td>{{food.food.name}}</td>
                          <td>{{food.num}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>...</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>
<br>
{% endblock %}