{% extends "template.html" %}
{% load static %}
{% block content %}
<div>
    {% if park_list %}
    <ul>
    {% for park in park_list %}
    <li><a href="/games/{{ master.id }}/parks/{{ park.id }}">{{ park.name }}</a></li>
    {% endfor %}
    <ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
<div>
    Your Name:<br>
    {{master.name}}<br>
    Your money:<br>
    {{master.money}}<br>
    Your sex:<br>
    {{master.sex}}<br>
</div>
<br>
<br>
<a href="/games/{{ master.id }}/">Back</a>
<a href="/games/{{ master.id }}/cats/" style="font-family: serif">cats</a>
<a href="/games/{{ master.id }}/parks/" style="font-family: serif">parks</a>
<a href="/games/{{ master.id }}/sites/" style="font-family: serif">sites</a>
<a href="/games/{{ master.id }}/markets/" style="font-family: serif">marktes</a>
{% endblock %}