{% extends "template.html" %}
{% load static %}
{% block content %}
<script>
    function change(obj) {
        $(obj).parents('form').submit();
    }
</script>
<div>
    {% if park_wild %}
    <ul>
    {% for parkcat in park_wild %}
    <li>{{ parkcat.cat.name }}{{ parkcat.cat.breed }}{{ parkcat.cat.health }}</li>
    <form id="myForm" action="{% url 'games:park_detail' master.id park.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="cat" value={{ parkcat.cat.id }}>
        {% if master_store %}
        <select onchange="change(this)" type="text" name="food">
            <option value={{mystore.food}}>---</option>
            {% for mystore in master_store %}
                <option value={{ mystore.food }}>{{ mystore.food }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </form>
    {% endfor %}
    <ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
<br>
<br>
<a href="/games/{{ master.id }}/parks">Back</a>
{% endblock %}