{% extends "template.html" %}
{% load static %}
{% block content %}
<div>
    {% if park_cat %}
    <ul>
    {% for cat in park_cat %}
    <li>{{ cat.name }{{ cat.breed }}{{ cat.intimacy }}{{ cat.health }}</li>
    {% endfor %}
    <ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
<div>
    Park's Name:<br>
    {{park.name}}<br>
    {% if park_wild %}
    <ul>
    {% for wild in park_wild %}
    <li><a href="/games/{{ master.id }}/parks/{{ park.id }}/{{ wild.cat.id }}">{{ wild.cat }}</a></li>
    {% endfor %}
    <ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
<br>
<br>
<a href="/games/{{ master.id }}/">Back</a>
<a href="/games/{{ master.id }}/cats/" style="font-family: serif">cats</a>
<a href="/games/{{ master.id }}/parks/" style="font-family: serif">parks</a>
<a href="/games/{{ master.id }}/sites/" style="font-family: serif">sites</a>
<a href="/games/{{ master.id }}/markets/" style="font-family: serif">markets</a>
{% endblock %}